/* IPAD view */

@media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }

    .slider_section {
        padding: 50px 0;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

    .main-logo {
        width: 17vw;
        height: 7vh;
    }

    .slider-height {
        height: 20vh;
        flex-direction: column;
        align-content: center;
    }

    .who-we-are-image {
        height: 23vh;
        width: 38vw;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }
}

/* @media (max-width: 992px) {
    .user_option {
        flex-direction: column;
    }

    .custom_nav-container .nav_search-btn {
        background-position: center;
        margin-top: 10px;
    }

    .user_option a {
        margin-bottom: 10px;
    }

    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 5px;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

    .main-logo {
        width: 17vw;
        height: 7vh;

    }

    .slider-height {
        height: 30vh;
        flex-direction: column;
        align-content: center;
        padding: 0 10px;
    }

    .who-we-are-image {
        height: 70vh;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    .readmore-button {
        display: flex;
        justify-content: center;
    }
} */

/* MOBILE view */
@media (max-width: 768px) {

    .info_section .col-md-3 {
        text-align: center;
    }

    .info_section .col-md-3:not(:nth-last-child(1)) {
        margin-bottom: 35px;
    }

    .who_section .detail-box {
        margin-left: 15px;
        margin-top: 35px;
    }

    .work_section .work_container .box.b-1,
    .work_section .work_container .box.b-2,
    .work_section .work_container .box.b-3,
    .work_section .work_container .box.b-4 {
        width: 100%;
    }

    .info_section .col-md-3>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info_section .info_form .social_box {
        justify-content: center;
    }

    .info_section .info_form .social_box a {
        margin: 0 10px;
    }

    .footer_section p {
        padding: 20px 30px;
    }

    .main-logo {
        width: 17vw;
        height: 7vh;

    }

    .slider-height {
        height: 30vh;
        flex-direction: column;
        align-content: center;
        padding: 0 10px;
    }

    .who-we-are-image {
        height: 30vh;
        width: 75vw;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .who_section .heading_container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .readmore-button {
        display: flex;
        justify-content: center;
    }
}

/* @media (max-width: 576px) {
    .slider_section .detail-box h1 {
        font-size: 3.5rem;
    }

    .do_section .do_container .arrow_bg::before {
        display: none;
    }

    .main-logo {
        width: 17vw;
        height: 7vh;

    }

    .slider-height {
        height: 30vh;
        flex-direction: column;
        align-content: center;
        padding: 0 10px;
    }

    .who-we-are-image {
        height: 45vh;
        width: 75vw;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    .who_section .heading_container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .readmore-button {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .main-logo {
        width: 17vw;
        height: 7vh;

    }

    .slider-height {
        height: 30vh;
        flex-direction: column;
        align-content: center;
        padding: 0 10px;
    }

    .who-we-are-image {
        height: 45vh;
        width: 75vw;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    .who_section .heading_container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .readmore-button {
        display: flex;
        justify-content: center;
    }
} */

@media (max-width: 420px) {
    .slider_section .detail-box h2 {
        font-size: 1.5rem;
    }

    .slider_section .detail-box h1 {
        font-size: 3rem;
    }
}

@media (max-width: 360px) {}

/* LAPTOP view */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .who-we-are-image {
        height: 55vh;
        width: 35vw;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }
}